@use './modules/colors' as c 
@use './modules/projectGrid'
@use './modules/pointer'
@use './modules/typography'
@use './modules/header'
@use './modules/layout'

:root
  font-size: 16px 
  --scale-element:1 
  --scale-font:1 
  color: c.$body
 
.hero-content-wrapper  
  display: flex 
  align-items: center 
  align-content: center 
  justify-content: left 
  width: 100% 
 
.hero-tagline  
  display: inline-block  
  width: 60% 
 
.capability-list 
  display: inline-block  
  max-width: 30%
 
.dwnld  
  padding: 8px 42px 
  font-size: 18px 
  font-weight: 700 
  border-radius: 32px 
  border: solid 2px c.$light 
  background: transparent 
  color: c.$light 
  transition: all 1s 
 
.dwnld:hover  
  border: solid 2px c.$prime-light
  color: c.$prime-light
 
.dwnld a  
  text-decoration: none 
  color: c.$light
 
.list-head  
  font-size: 1.125rem 
  font-weight: 800 
 
@supports (-webkit-text-stroke: 1px white)  
  .section-number  
    -webkit-text-stroke: 1px #ffffff1f 
    -webkit-text-fill-color: #110e1500 
 
.section-number  
  font-family: "Britanica-Regular" 
  font-size: 288px 
  -webkit-user-select: none 
  -moz-user-select: none 
  -ms-user-select: none 
  user-select: none
  position: absolute
  right: 0
  top: -168px
 
.section-header  
  flex-direction: row 
  justify-content: space-between 
  align-items: center 
  align-content: center 
  display: flex 
  z-index: 0 
 
//animation
.branding:hover 
  #cut-off-white
    animation: hide_white_then_spanwn 2s ease-out
  #cut-off-darkblue
    animation: hide_darkblue 2s ease-out
  #cut-off-green
    animation: hide_green 2s ease-in
  #cut-off-tor
    animation: hide_tor 2s ease-in
  #cut-off-red
    animation: hide_red_then_spawn 2s ease-out
  #cut-off-yellow
    animation: hide_yellow_then_spawn 2s ease-out



@keyframes hide_white_then_spanwn
  0% 
    transform: translateX(0px)
  50% 
    transform: translateX(130px)
  100% 
    transform: translateX(0px)

@keyframes hide_red_then_spawn
  0% 
    transform: translateX(0px)
  50% 
    transform: translateX(96px)
  100% 
    transform: translateX(0px)

@keyframes hide_yellow_then_spawn
  0% 
    transform: translateX(0px)
  50% 
    transform: translateX(110px)
  100% 
    transform: translateX(0px)


@keyframes hide_darkblue
  0% 
    transform: translateX(0px)
  100% 
    transform: translateX(190px)

@keyframes hide_tor
  0% 
    transform: translateX(0px)
  100% 
    transform: translateX(350px)

@keyframes hide_green
  0% 
    transform: translateX(0px)
  100% 
    transform: translateX(320px)

.footer 
  padding-top: 240px

.project-grid 
  padding-top: 128px