@use './colors' as c
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400 700&display=swap')

:root
    font-size: 16px
    overflow-x: hidden 

h1, h2, h3, h4, h5, h6
    font-family: "Britanica-Regular" 
    color: c.$headText
    
p,a,span,li,body
    color: c.$bodyText
    font-family: 'Space Mono', monospace 

.hero h1  
  font-size: calc(100vw / 22) 
 
h1  
  font-size: 4rem 
 
h3  
  font-size: 1.5rem
 
p  
  font-size: 1rem 
  line-height: 1.5rem 
 
  
  